<h3 class="dark">Parece que você ainda não cadastrou um endereço...</h3>
<h3 class="dark">Preencha os campos abaixo para poder continuar.</h3>

<form class="dark" action="/endereco" method="post">
    <label for="rua">Rua: </label>
    <input type="text" name="rua" id="rua">
    <label for="numero">Numero: </label>
    <input type="text" name="numero" id="numero">
    <label for="bairro">Bairro: </label>
    <input type="text" name="bairro" id="bairro">
    <label for="cidade">Cidade: </label>
    <input type="text" name="cidade" id="cidade">
    <label for="bairro">Bairro: </label>
    <input type="checkbox" name="adm" id="adm">
    <label for="adm">Administrador</label>
    <input type="submit" value="Enviar">
</form>
