<h1 class="dark">Feed do {{this.user.nome}}</h1>
<h2 class="dark">Endereço {{this.user.endereco.endereco}}</h2>

<form action="/feed/irParaUploads" method="post" class="dark">
    <input type="submit" value="Fazer Upload">
</form>


<a href="/logout">Logout</a>
