<header>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="javascripts/index.js"></script>
            <div class="container-xl">
                <div class="logo">
                    <img src="assets/icon-github.svg" class="logo-icon">
                    <!-- <i class="fa fa-github" aria-hidden="true"></i> -->
                </div>
                <div class="header-inner">
                    <ul class="menu">
                        <li class="menu-item">Why GitHub?
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </li>
                        <li class="menu-item">Enterprise</li>
                        <li class="menu-item">Explore
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </li>
                        <li class="menu-item">Marketplace</li>
                        <li class="menu-item">Pricing
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </li>
                    </ul>
                                                                        
                    <div class="right-side">
                        <div class="search">
                            <form autocomplete="off" class="search-form" action="/search" method="get">
                                <input type="text" oninput="liveSearch(this.value)" class="search-input" placeholder="Search GitHub" id="query" name="query">
                                <img src="images/search-key-slash.svg" alt="" class="search-symbol">
                            </form>
                            <div class="container-live-search">
                                <ul class="live-search">
                                    {{!-- <li class="live-search-item">tst</li>
                                    <li class="live-search-item">tst</li>
                                    <li class="live-search-item">tst</li> --}}
                                </ul>
                            </div>
                        </div>
                        <a href="/login" class="button signin">Sign in</a>
                        <a href="" class="button border">Sign up</a> 
                        <div class="hidden-menu"></div>
                     </div>
                </div>
            </div>
        </header>
    
        <div class="article">
            <div class="descricao">
                <h1>
                    Built for developers
                </h1>
                <p>
                    GitHub is a development platform inspired by the way you work. From 
                    <a href="#">open source</a>
                     to 
                    <a href="#">business</a>
                    , you can host and review code, manage projects, and build software alongside 40 million developers.
                </p>                        
            </div>
            <div class="login">
                <form action="/cadastrar" method="post">
                    <div class="telaLogin">
                        <div class="rotulo">
                            <label>Username</label>
                        </div>
                        <div class="texto">
                            <input type="text" id="username" name="username">
                        </div>
                        <div class="rotulo">
                            <label>Email</label>
                        </div>
                        <div class="texto">
                            <input type="text" id="email" name="email">
                        </div>
                        <div class="rotulo">
                            <label>Password</label>
                        </div>
                        <div class="texto">
                            <input type="password" id="password" name="password">
                        </div>
                        <p class="regras">
                            Make sure it's at least 15 characters OR at least 8 
                            characters including a number and a lowercase letter. 
                            <a href="#">Learn more</a>.
                        </p>

                        <p class="error">{{this.error}}</p>

                        <input class="button2" type="submit" value="Sign up for GitHub">
                        <p class="regras termos">
                            By clicking “Sign up for GitHub”, you agree to our 
                            <a href="#">Terms of Service</a>
                            and 
                            <a href="#">Privacy Statement</a>
                            . We’ll occasionally send you account related emails.
                        </p>
                    </div>
                </form>
            </div>
            <div class="loginMobile">
                Sign up for GitHub
            </div>
        </div>
        <img id="progresso" src = "images/loading.gif" style = "display: none"/>

        <div class="post-container"></div>

    </body>
