<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <title>The world's leading software development platform - GitHub</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
