<form class="dark" action="/login" method="post">
    <label for="username">Usuário</label>
    <input type="text" id="username" name="username" value="">
    <label for="password">Senha</label>
    <input type="password" id="password" name="password" value="">
    <input type="submit" value="Entrar">
</form>

<p class="error">{{this.error}}</p>
