<form action="/uploads/imagem" method="post" enctype="multipart/form-data" class="dark">
    <input type="file" name="file" id="file" class="custom-file-input" accept="imagem/*">
    <input type="text" name="description" id="description">
    <img class="preview-img">
    <label for="file" class="custom-file-label">Escolha a imagem</label>
    <input type="submit" value="submit" class="btnSubmit">
</form>

<script>
    
    const $ = document.querySelector.bind(document);
    const previewImg = $('.preview-img');
    const fileChooser = $('.custom-file-input');

    fileChooser.onchange = e => {

        const fileToUpload = e.target.files.item(0);
        const reader = new FileReader();

        reader.onload = e => previewImg.src = e.target.result;

        reader.readAsDataURL(fileToUpload);
    }

</script>
